html, body {
    color: white;
    background-color: black ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

button{
    padding: 10px;
    font-size: 1.3rem;
    margin-right: 10px;
}